# Ignore node modules
node_modules/

# Ignore environment variables
.env

# Ignore package lock file
package-lock.json

# Ignore winx.html file
public/winx.html

# Ignore Deployed Build
build.js

# Ignore server response 
server-responces.json
server-responces